.container{
    width: 940px;
    margin: 0 auto;
    padding-top: 100px;
}
.user{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    &__img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    &__name{
        font-family: Arial;
        font-size: 24px;
        margin-left: 20px;
    }
}

.auth{
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 40px;
    margin: 0 auto;
    input{
        width: 100%;
        border-radius: 4px;
        padding: 12px 40px;
        background: rgba(0,0,0, .3);
        border: none;
        margin-bottom: 20px;
    }
}

*{
    box-sizing: border-box;
}